.title{
    text-align: left;
    // font-family: "Montserrat", "san-serif";
    font-size: 2.5rem;
    font-weight: 500;
    margin:10%;
}
.filter-list{
    list-style: none;
    font-weight: 500;
    font-size: 1.6rem;
    
}