.archive {
  &-name {
    border: 0.12rem solid $color-gray-white;
    & span:hover {
      color: $color-primary !important;
      cursor: pointer;
    }
    & a:hover {
      text-decoration: none !important;
    }
  }

  & h2 {
    color: $color-primary;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
  }
}
