.bg-cont{
    // background-image: url("../../assets/images/puppies.png");
    height:10rem;
   // overflow: hidden;
    background-position: center;
    background-attachment: fixed;
   
  
}

.bg-overlay{
   background-color: rgba(39, 37, 37, 0.288);
  
}