.form-group button,.button{
    
        line-height: 1.8rem;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        background: #94c13d;
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        border: 2px solid #94c13d;
        font-family: 'Poppins', sans-serif;
        margin-top: 0.1rem;
        padding: 11px 40px;
        background: #94c13d;
        border-color: #94c13d;
        border-radius: 25px;
    }
