//colors-----------------------
.add-Green {
  color: $color-primary;
}

.add-white {
  color: $color-white;
}
.bg-light-color {
  background-color: $light;
}

.add-black {
  color: $dark !important;
  :hover {
    color: $color-primary;
  }
}

//fonts-------------------------
.add-Bold {
  font-weight: bold;
}

.add-font-small {
  font-size: 14px;
}

.capitalize {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: $dark;
  line-height: 30px;
}
//padding-------------------------
.padding-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-y-small {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.padding-x-big {
  padding-right: 4rem;
  padding-left: 4rem;
}

// .no-gutters {
//   padding: 0px;
// }

//----------------------------------
//btn
.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: $dark;
    color: $color-white;
  }
}

.small-btn {
  padding: 0.5rem 0.5rem !important;
  font-size: 1.2rem !important;
  border-radius: 0 !important;
}

// //////////////////////////////////////////////////////
.card {
  border: none !important;
  border-radius: none !important;
  background-color: transparent !important;
  &-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent !important;
    border-bottom: none !important;
  }
}

.nav {
  display: inherit !important;
  margin: 1.2rem 0.5rem;
}
@media (min-width: 576px) {
  .card-group {
    flex-flow: column !important;
  }
}

////////////////////////////////////////////////////////////

.blank-arrow {
  position: relative;
}

.blank-arrow label:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 1.1rem;
  border-color: $color-primary transparent transparent transparent;
  top: 2.6rem;
  left: 0.5rem;
}

.label {
  background: $color-primary;
  color: $color-white;
  margin-bottom: 15px;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  float: left;
  font-weight: 400;
}

ul.custom li {
  padding: 0.5rem 0px;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
