.pagination {
  display: flex !important;
  &-area {
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    & .pagination li a {
      background: transparent;
      border: 0.1rem solid $color-gray-white;
      color: $dark;
      margin-right: 0.5rem;
      padding: 1rem 2rem;
      &:hover {
        background: $color-primary;
        color: $color-white;
      }
    }
    & .pagination li .active {
      background: $color-primary !important;
      color: $color-white;
    }
  }
  &-item {
    border-radius: 0.7rem;
  }
  &-icon {
    font-weight: 700;
  }
}
