.pagination {
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .pagination a {
    color: black;
  //  float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    &:hover{
        text-decoration: none;
        color: black;
    }
  }
  
  .pagination a.active {
    background-color: $color-primary;
    color: white;
    border: 1px solid $color-primary;
  }
  
  .pagination a:hover:not(.active) 
  {background-color: #ddd;
   
}