.post-paragrph{
    p{
        line-height: 2rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
}
.post-date{
    background-color: $color-primary;
    height: 6rem;
   &__day{
    color: white;
        font-size: 1.7rem;
        font-weight: 700;   
   } &__month{
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
    }
}
.post-title{
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 600;
    color:$color-gray-light;
    &:hover{
        text-decoration: none;
        color: $color-primary;   
    }
}
.far,.fas{
    color: $color-primary;
    font-weight: 600;
    font-size: 1.2rem;
}
.social{
    font-size: 1rem;
    color:$color-gray-light;
    font-weight: 600;
}
.line-small{
    height: 0.2rem;
    background-color: $color-primary;
    width: 2rem;
}
.line-medium{
    height: 0.2rem;
    background-color: $color-primary;
    width: 4rem;
}
.tags{
a{
    color:$color-primary;
    font-size: 1.2rem;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color:$color-primary ;
    }
}
.first{
    color: $color-gray-light;
}
}
.share{
.fab{
position: relative;
width: 2.5rem;
height: 2.5rem;
color: #848484;
font-size: 16px;
line-height: 2.5rem;
text-align: center;
border-radius: 50%;
display: inline-block;
background: #f4f4f4;
&:hover{
background: #94c13d;  
color:white; 
}}
.share-this{
font-weight: 600;
font-size: 1.2rem;
}
}
.sperator{
height: 0.1rem;
background-color: $gray-200;
}
@media (max-width: 
992px) {
.share{
    margin-top:2rem;
}
}
