.tag {
  & a:hover {
    text-decoration: none;
    color: $color-primary !important;
    cursor: pointer;
    animation-name: move !important;
    animation-direction: alternate !important;
    animation-iteration-count: infinite !important;
    animation-duration: 0.3s !important;
    animation-timing-function: linear !important;
  }
  &-list {
    &__item {
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-gray-light;
    }
  }
}
