textarea{
    height: 12rem;
  display: block;
  width: 100%;
 
  font-size: 1rem;
  color: #888888;
  line-height: 24px;
  padding: 12px 20px;
  font-weight: 400;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.textarea-reply{
        margin-top: 2rem;
        height: 4rem; 
    }
