.info-card{
    position: relative !important;
    &:hover{
        .top-card{
            opacity: 1;
            visibility: visible;
            height:100%;
            
            transform-origin: top;
          
    transition-duration: 0.5s;
    
    transform: perspective(400px) rotateX(0deg);
        }
    }
    }
    
    .top-card{
    background-color: $color-primary !important;
    position: absolute !important;
        z-index: 1;
        height:100%;
        opacity: 0;
        visibility: hidden;
        transform:perspective(400px) rotateX(-90deg);
    }
    .img-bg{
    //    background-image: url("../../assets/images/cat.png");
       background-position: right !important;
        background-repeat: no-repeat;
        background-clip: padding-box;
        background-size: auto;
    }

    .four-cards-cont{
    
        margin-top: 9rem !important;
        margin-bottom: 9rem !important;
  
    }