.footer{
    background-color: black;
    color:white;
   //position: fixed;
    height: max-content;
    font-size: 1.5rem !important;
  // border-bottom-left-radius:  70%;
    bottom: 0;
    a{
        text-decoration: none !important ;
        color:white;
        &:hover{
            text-decoration: none !important ;
            color:$color-primary;
        }
    }
    
}
.bottom-footer{
    margin: 0 auto !important;
    text-align: center !important;
    a{
        
        color:white;
        &:hover{
            text-decoration: none !important ;
            color:white;
        }
    }
    
}
.footer-info{
    text-decoration: none !important ;
    font-size: 1.4rem !important;
    //color:white;
    &:hover{
        color: $color-primary;
    }
}
.footer-cont{
    text-align: center ;
    
}
.footer-font{
    font-size: 1.6rem;
}

.footer-row{
    border-bottom: solid whitesmoke 0.1rem;
    width : 90%;
}
.border.one {
    width: 50px;
    left: 45%;
  
 }
  
  .footer-border {
//position : absolute;
    content: '  ';
    left: 50%;
    bottom: 2px;
    width: 15px;
    height: 2px;
    border-color: #94c13d !important;
    
    
}
    .border.two {
      width: 30px;
      left: 48%;
     
     }
  
.col-title::after{
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-color: #94c13d !important;


}
.social-media{
    background:rgb(59, 59, 59);
    padding:1rem;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
    font-size: 1.4rem !important;
    margin: 0.1rem;
    &:hover {
                
        background: #94C13D;
       
   
}
}
.footer-logo{
    height:8rem ;
}

.logo-name{
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
  
font-family: 'Dancing Script', cursive;
}

