
.horizontal-list{
display:flex;
flex-direction: row;
justify-content: space-between;
justify-self: center;
}

.nav{
	 align-items: center; 
}
.nav_item{
	text-decoration: none;
		font-size: 1.5rem;
		color: #262626;
		list-style: none;
	& a{
		text-decoration: none;
		font-size: 1.5rem;
		color: #262626;
		line-height: 2rem;
	
		
	}
}
.nav_item{
	& a:hover{
		color: $color-orange-primary;
	
	}
	&:hover{
		color: $color-orange-primary;
	
	}
}

.nav_logo{
	font-family: 'Pacifico', cursive;
	 font-size: 3.5rem;
	 color: $color-orange-primary;
	 vertical-align: middle;
	
}
.nav_cont{
margin: 5rem auto;
}