<div class="container nav_cont">
    <div class="row nav">
        <div class="col-md-2 col-sm-12">
            <img width="40" alt="logo" src="../assets/images/header-logo/pizza.svg">
            <span class="nav_logo">
                Bello
            </span>
        </div>

        <div class="col-md-5 col-sm-12">
            <ul class="horizontal-list ">
                <li class="nav_item ">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="nav_item ">
                    <a routerLink="/recipes">Recipe</a>
                </li>
                <li class="nav_item ">
                    <a href="#">Search</a>
                </li>
                <li class="nav_item ">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-sm-12">
            <!-- <div style="float: left;">Sign in</div> -->
            <primary-button style="float: right;"></primary-button>
        </div>
    </div>

</div>