<div class="container">
    <div class="row nav-bar">
        <div class="col-1">
            <img width="40" alt="logo" src="../assets/images/header-logo/pizza.svg">

        </div>
        <div class="col-5 nav-bar">
            <ul class="horizontal-list ">
                <li class="nav-item">
                    Home
                </li>
                <li class="nav-item">
                    Recipe
                </li>
                <li class="nav-item">
                    Search
                </li>
                <li class="nav-item">
                    Contact
                </li>
            </ul>
        </div>
    </div>

</div>