<div class="container nav_cont">
    <div class="row nav">
        <div class="col-md-2 col-sm-12">
            <img width="40" alt="logo" src="../assets/images/header-logo/pizza.svg">
            <span class="nav_logo">
                Bello
            </span>
        </div>

        <div class="col-md-8 col-sm-12">
            <ul class="horizontal-list ">
                <li class="nav_item ">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="nav_item ">
                    <a routerLink="/recipes">Recipe</a>
                </li>
                <li class="nav_item ">
                    <a href="#">Contact</a>
                </li>
                <li class="nav_item ">
                    <app-recipe-search (searchForRecipes)="getRecipeBySearch($event)" ></app-recipe-search>
                    <!-- <a routerLink="/recipe-search-result">Search</a> -->
                </li>
               
            
            </ul>
            <!-- <app-recipe-search (searchForRecipe)="getRecipeBySearch($event)"></app-recipe-search> -->
            <!-- <form>
                <input type="search" placeholder="Recipe Search" aria-label="Search" (keyup.enter)="searchForRecipe()">
            </form> -->
        </div>

        <div class="col-md-2 col-sm-12">
            <!-- <div style="float: left;">Sign in</div> -->
            <primary-button style="float: right;"></primary-button>
        </div>
    </div>

</div>