<div class="container-fluid no-gutters">
    <div class="row  mb-5">
        <div class="col-md-12">

            <!-- <ng-content></ng-content> -->
            <div *ngIf="images">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">

                    <!-- <ng-template *ngFor="let img of images"> -->
                    <mdb-carousel-item *ngFor="let img of images">
                        <img [src]="img" class="d-block w-100" height="600px" alt="pet"
                            [ngStyle]="{'animation': 'zoom 20s'}">
                    </mdb-carousel-item>
                    <!-- </ng-template> -->

                </mdb-carousel>
            </div>

        </div>
    </div>

</div>