<div class="card_cont card     text-overflow: ellipsis;">
    <div class="card_img_cont">
        <div class="fav_cont">
            <i class="fa fa-heart" aria-hidden="true" (click)="toggleFavorite(recipe.id)"
                [ngClass]="{'isFav':recipe.favorite,'isNotFav':!recipe.favorite}"></i>
        </div>
        <img class="card_img "
            src=" {{ recipe.image ? recipe.image : '../../../../assets/images/recipes/notfound.jpg'}} "
            alt="recipe Title">
    </div>
    <div class="card_data card-body">
        <h4 class="card_title">{{ recipe.name }}</h4>
        <div class="card_text">
            <span> <i class="fa fa-star" aria-hidden="true"
                    style="color:#ffd43b; float: left;padding-right: 0.5rem;"></i></span>
            <span style="float: left;">
                {{ recipe.rate }}
            </span>
            <span style="float: right;">by {{ recipe.author }}</span>
        </div>
    </div>
</div>