//colors

$color-orange-primary: #FF6900;
$color-orange-light:#e09e27;
$color-red-primary:#eb4a36;
$color-black: #111111;
$color-gray: rgba(228, 228, 230, 0.836);
$color-gray-light: #555;
$color-gray-white: #f3f0f0;
$color-white: #ffffff;
$gray-200: rgb(202, 198, 198);
$gray-dark: rgb(161, 156, 156);
$color-white: #ffffff;
$light: #f7f9f3;
$dark: #262626;
$banner-length: 19rem;
$irregular-size: 35rem;

//fonts
$BannerFontSize: 1.7rem;
$BannerfontFamily: "Open Sans, Arial, Helvetica, Verdana, Sans-Serif";
$BannerlinearGridantColor: #94c13d;
$IntroductionTextSize: 1.7rem;
$IntroductionParagraphSize: 1.2rem;
