body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  overflow-x: hidden !important;
}

a {
  text-decoration: none; 
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
}
h4 {
  font-size: 1.6rem;
  color: $color-black;
}

h5 {
  font-size: 1.4rem;
}
h3 {
  //font-size: 2.8rem;
}

.text {
  font-size: 1.6rem !important;
  color: $color-gray-light !important;
}

.no-gutters{
  padding: 0px;
}